


@media (max-width: 768px){

    /*se a largura for até 768 faça*/
    /*medidas relativas:display:
    vh - viewport altura
    vw - viewport largura*/
    .navbar-desktop{
        display: none;
    }

    .navbar-mobile{

        display: flex;
        position: fixed;
        bottom: 0;
        width: 100%;
        justify-content: space-evenly;
        padding: 10px;
        height: 60px;
        background-color: rgb(121, 94, 36);
        left: 0;
    }

    }

@media (max-width: 460px){

    /*medidas relativas:display:
    vh - viewport altura
    vw - viewport largura*/

    }