*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
}

.primeira-header{
    
    gap: 10px;
    display: flex;
    background-color: rgb(121, 94, 36);
    padding: 5px;
    justify-content: center;
    
}

a{
    text-decoration: none;
    color: black;
    margin-right: 12px;
}

.segunda-header{

    gap: 20px;
    display: flex;
    background-color: rgb(202, 177, 122);;
    padding: 15px;
    justify-content: space-between;

}

.logo{
    width: 30px;
    height: auto;
    margin: 20px auto;
    display: block;
}

.redes-sociais{
    width: 20px;
    height: 20px;
    margin: 10px;
}

/*se a largura for até 768 faça*/
@media (max-width: 768px){
    .primeira-header{
        /*medidas relativas:display:
        vh - viewport altura
        vw - viewport largura*/
        top: 90vh;
    }
}