*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;

}

img{

    width: 100px;
    height: 100px;

}

.logo{
    
    width: 60px;
    height: 70px;

}

.redes{

    width: 30px;
    height: 30px;

}

header{

    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: rgb(49, 136, 107);
    padding: 10px 0;
    text-align: center;
    width: 100%;
    z-index: 4;

}

header ul{

    position: absolute;
    top: 5;
    right: 21px;
    list-style: none;
    display: flex;
    gap: 10px;

}

header nav a{
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 5px;
    color: black;
}

header nav a:hover{
    background-color: rgb(110, 185, 147);
}

main{
    height: 110vh;
    display: flex;
}

.modal{
    position: fixed;
    left: 50%;
    top: 20px;
    width: 60%;
    background-color: rgba(58, 64, 71, 0.486);
    color: white;
    z-index: 5;
}